# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=

# Kafka Configuration
# Use 'kafka:9092' for Docker network, 'localhost:9092' for local development
KAFKA_BOOTSTRAP_SERVERS=

# Order Service Database
SPRING_DATASOURCE_URL_ORDER=

# Payment Service Database
SPRING_DATASOURCE_URL_PAYMENT=

# Flight Service Database
SPRING_DATASOURCE_URL_FLIGHT=